@import "variables.scss";

.locale {
  font-size: 1.8rem;
  color: grey;
}

.header-icon {
  @include flex-center(row);
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 10px 15px;
}

.btns-group {
  height: fit-content;
  width: 90%;
  margin: 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;

  .cir-btn {
    display: block;
    border-radius: 50%;
    font-size: 3rem;
    height: 60px;
    width: 60px;
    background-color: rgb(233, 232, 232);
    box-shadow: 5px 5px 15px 3px grey;
    @include flex-center(column);
  }

  .rec-btn {
    margin: 20px;
    display: block;
    border-radius: 12px;
    background-color: $primaryColor;
    padding: 10px;
    color: white;
    width: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
  }
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex-direction: column;
  justify-content: space-between;
}

.modal-container {
  z-index: 2;

  #modal-btn {
    color: grey;
    font-size: 1.1rem;
  }
}


.modal {
  position: fixed;
  z-index: 100;
  left: 0; top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);

  .modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    padding: 20px;
    width: 500px;
    height: 80vh;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    overflow-y: scroll;

    .closeBtn {
      color: #ccc;
      float: right;
      font-size: 50px;

      &:hover {
        color: black;
      }

    }

    .modal-text {
      margin-top: 50px;
      height:100%;
      width: 100%;
      line-height: 22px;

      p {
        margin-top: 20px;
      }
    }
  }

}

.active {
  display: show;
}

.inactive {
  display: none;
}

@media screen and (max-width: 700px) {
  .modal {
    .modal-content {
      margin: 14% auto;
      width: 90%;
      height: 80%;
    }
  }
}