.circle-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100px;
  height: fit-content;
  background-color: rgb(57, 140, 218);
  border-radius: 12px 0px 0px 12px;
  position: fixed;
  z-index: 2;
  top: 30%;
  right: 0px;
  transition: all 0.3s ease-in-out;

  span {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

@media screen and (max-width: 500px) {
  .circle-btn {
    width: 100vw;
    height: 200px;
    border-radius: 50%;
    top: -170px;
    display: flex;
    justify-content: center;
    right: auto;
    left: auto;

    span {
      width: fit-content;
      position: absolute;
      bottom: 8px;
    }
  }
}
