@import "variables.scss";

.column {
  @include flex-center(column);
}

.row {
  display: flex;
  justify-content: space-around;
}

.btn-container {
  width: 400px;
  padding: 10px;
  margin-bottom: 0;
  z-index: 2;

  .bar {
    height: 50px;
    width: 100%;
    border-radius: 12px;
  }

  .circle {
    border-radius: 50%;
    height: 70px;
    width: 70px;

    span {
      @include flex-center(column);
    }

    div {
      display: none;
    }
  }

  .link-btn {
    margin: 12px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px 3px grey;
    transition: all 0.3s ease-in-out;

    span {
      @include flex-center(column);
      flex: 1.5;

      svg {
        background-color: rgb(255, 255, 255);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 2px;
      }
    }

    div {
      display: flex;
      padding: 10px;
      font-weight: 700;
      flex: 8;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

@media screen and (max-width: 400px) {
  .btn-container {
    width: 100%;
  }
}
