@import 'variables.scss';

.alert-box {
    width: 0;
    transform: translateY(-300%);
    position: fixed;
    @include flex-center(row);
    z-index: 5;
}

.warning {
    .alert {
        background: #f5d7d7;
        border: 1px ridge rgb(241, 222, 222);

        .sign {
            color: rgb(250, 83, 83);
        }

        span {
            color: rgb(201, 22, 22);
        }
    }
    
}

.ok {
    .alert {
        background: rgb(212, 240, 212);
        border: 1px ridge rgb(222, 241, 223);

        .sign {
            color: rgb(53, 172, 53);
        }

        span {
            color: rgb(34, 134, 47);
        }
    }
}

.alert {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 3px 10px 2px rgba(39, 39, 39, 0.5);

    .sign {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    .msg {
        font-size: 1rem;
        color: #333;
        white-space: nowrap;
    }


    svg {
        @include flex-center(column);
    }
}

