@import "variables.scss";

.background {
  overflow-x: hidden;
}

.toggle-container {
  position: fixed;
  width: 130px;
  height: 50px;
  right: 0;
  top: 20%;
  z-index: 3;

  .inactive {
    transform: translateX(100%);
  }

  .active {
    transform: translateX(0);
  }

  .shape {
    position: absolute;
    width: 135px;
    height: 50px;
    padding: 10px;
    border-radius: 30% 0 0 30%;
    background-color: $primaryColor;
    @include flex-center(row);
    transition: all 0.5s ease-in-out;

    .gp {
      position: relative;
      @include flex-center(row);
      color: rgb(248, 247, 245);
      font-size: 1.5rem;

      span {
        margin: 0px 5px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .background {
    overflow-y: hidden;
  }

  .toggle-container {
    margin-top: 50px;
    width: 100%;
    top: auto;
    bottom: 0;
    right: auto;

    .shape {
      width: 100%;
      height: 50px;
      border-radius: 60% 60% 0 0 / 80% 80% 0 0;
    }

    .inactive {
      transform: translateY(100%);
    }

    .active {
      transform: translateY(0);
    }
  }
}
