* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: #333;
  width: 100vw;
  height: 100vh;
}

body,
#root,
.App {
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

body {
  background-image: rgb(238, 238, 238);
}
