@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

.App {
  position: relative;
  @include flex-center(column);
}

body {
  font-size: 14px;
  color: #333;
}

html {
  font-size: 14px;
  color: #333;
}

/* width */
::-webkit-scrollbar {
  width:  0px;
  height: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 180, 197);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-center {
  text-align: center;
}

.align-center {
  @include flex-center(row)
}