$itemMargin: 0px 10px;
$borderRadius: 10px;
$Bxheight: 40px;

$primaryColor: rgb(27, 127, 221);

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.pop {
  animation: pop-up 4s ease-in-out;
}

@keyframes pop-up {
  0% {
    transform: translateY(-300%);
  }
  10% {
    transform: translateY(-50%);
  }
  90% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.2em);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em);
  }
  70%,
  100% {
    transform: translate(0);
  }
}

.btn {
  transition: all 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
